.site-layout {
	width: 100%;
	min-height: 500px;
}

.site-layout .site-image {
	float: right;
	width: 40%;
	margin: 0 0 0 1rem;
}

.site-layout p {
	max-width: 100%;
}

.site-blockquote {
	max-width: 1200px;
	margin: auto;
	margin-bottom: 3rem;
}

.site-image {
	width: 400px;
}
	
