.background {
  pointer-events: none;
  position: fixed;
  width: 100%;
	height: 100%;
  z-index: -1;
}
	
.hidden-h1 {
	visibility: hidden;
	position: absolute;
}

blockquote h1 {
	font-size: var(--h3);
	border-bottom: var(--line);
}

.intro-quote {
	margin-bottom: 3rem;
}	

.intro-quote p {
	max-width: 800px;
}

.intro-quote a p {
	margin-bottom: 0;
}

.highlights {
	padding: 2em;
}

.highlights ul, h3 {
	width: 200px;
}

.highlights h3 {
	border-bottom: solid 1px var(--cardText);
}

.intro {
	gap: 36px;
}

.intro blockquote a+a {
	margin-left: 1rem;
}	
