.card p, h3, h4, h5 {
	margin-top: 0;
}

.card img {
	border-radius: 5px;
}

.card section {
	background: var(--white);
	width: 100%;
	border-radius: 5px;
	padding: 5px;
	margin-top: 10px;
}

.site-card {
  max-width: 1660px;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  /* fit as many columns as possible, 180px wide each: */
  grid-template-columns: repeat(auto-fill, 400px);
  /* each row is 20px high -- we always span 2+ */
  grid-auto-rows: minmax(20px, auto);
  justify-content: center;	
}

.site-card {
	transition: var(--cardTransition);
}

.site-card:hover {
	box-shadow: var(--cardShadow);
}
